*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, #f3f3a0, #f3cd85);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    max-width: 450px;
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    height: 300px;
    transition: height 0.5s ease;
}

.container.active{
    height: 500px;
}
.container h1{
    margin-bottom: 10px;
    font-size: 32px;
}

.container p{
    font-size: 18px;
    margin-bottom: 25px;
}

#inputText{
    width: 100%;
    padding: 15px;
    border: none;
    border: 1px solid #999;
    font-size: 20px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

#generateBtn{
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    border: none;
    outline: none;
    background-color: #7070fa;
    color: white;
    font-size: 20px;
    font-weight: 55px;
    cursor: pointer;
    border-radius: 5px;
}
.QRimage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 25px;
    font-size: 35px;
}
